@model ShopOnline.Models.Category

<h2>Xác nhận xóa</h2>
<h3>Bạn chắc chắn xóa loại hàng này?</h3>
<div>
    <h4>Category Name: @Model.Name</h4>
    <!-- Hiển thị các thuộc tính khác của category nếu cần -->
</div>

@using (Html.BeginForm("DeleteCategoryConfirmed", "Category", new { id = Model.Id, area = "Admin" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "listCategory", new { area = "Admin" }, new { @class = "btn btn-default" })
    </div>
}
